@tailwind base;
@tailwind components;
@tailwind utilities;
.theme_white {
    --bg-background-primary: #eaeaea;
    --copy-text-primary: #121212;
}

.theme_black {
    --bg-background-primary: #303030;
    --copy-text-primary: #eaeaea;
    --copy-text-secondary: #ffffff;
}