<template>
  <div class = "text-copy-primary bg-background-primary min-h-screen" :class="theme">

  <Layout>
    <div class="bulb">
      <a href="#" @click.prevent="lightBulb" v-on:click="createStat()">
     
<svg v-if="theme ==='theme_black'"  viewBox="0 0 32 32">
    <path fill="currentColor" d="M12,2A7,7 0 0,1 19,9C19,11.38 17.81,13.47 16,14.74V17A1,1 0 0,1 15,18H9A1,1 0 0,1 8,17V14.74C6.19,13.47 5,11.38 5,9A7,7 0 0,1 12,2M9,21V20H15V21A1,1 0 0,1 14,22H10A1,1 0 0,1 9,21M12,4A5,5 0 0,0 7,9C7,11.05 8.23,12.81 10,13.58V16H14V13.58C15.77,12.81 17,11.05 17,9A5,5 0 0,0 12,4Z" />
</svg>
<svg v-if="theme ==='theme_white'" viewBox="0 0 32 32">
    <path fill="currentColor" d="M12,6A6,6 0 0,1 18,12C18,14.22 16.79,16.16 15,17.2V19A1,1 0 0,1 14,20H10A1,1 0 0,1 9,19V17.2C7.21,16.16 6,14.22 6,12A6,6 0 0,1 12,6M14,21V22A1,1 0 0,1 13,23H11A1,1 0 0,1 10,22V21H14M20,11H23V13H20V11M1,11H4V13H1V11M13,1V4H11V1H13M4.92,3.5L7.05,5.64L5.63,7.05L3.5,4.93L4.92,3.5M16.95,5.63L19.07,3.5L20.5,4.93L18.37,7.05L16.95,5.63Z" />
</svg>
      </a>

          </div>

<div v-on:click="getStatistics()" class="stat-button">      
<button v-on:click="seen = !seen" class="bg-transparent hover:bg-blue-500 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded">
  Statistics
</button>
</div>




<div v-if="seen" class="max-w-sm rounded overflow-hidden shadow-lg">
  <div class="px-6 py-4">
    <div class="font-bold text-xl mb-2">Statistics</div>
<div class="container ">
    
    <p class="error" v-if="error">{{error}}</p>
    <div class="stats-container ">
        <div class="stats" v-for="(stat,index) in stats" v-bind:item="stat" v-bind:index="index" v-bind:key="stat._id">
            <p class="active"><strong>Active: </strong>{{active}}</p>
            <p class="current_counter"><strong>Current session clicks: </strong>{{counter}}</p>
            <p class="overall_counter"><strong>Overall clicks till {{new Date().toLocaleDateString("it-IT") +": "}}</strong>{{stat.overall_counter}} </p>
            <p class="duration"><strong>Light was active for: </strong> {{elapsedTime}}</p>
        </div>
    </div>
</div>    
  </div>
</div>
  </Layout>

  </div>
</template>

<script>
import Utilities from '../Utilities';

export default {
  metaInfo: {
    title: ''
  },

  components: {
},
  name: 'Utilities',
  data(){
    return{
      theme: 'theme_black',
      stats : [],
      id: "",
      error: '',
      seen: false,
      counter: '',
      active: false,
      overall_counter: 0,
      startTime: 0,
      endTime: 0,
      duration: 0,
      elapsedTime: 0,
      counter: 0,
    }
  },

  

  methods: {
    async getStatistics(){
    try{
      this.stats = await Utilities.getStats();
      this.duration = parseInt(await Utilities.getElapsedTime())
      let minutes = Math.floor(this.duration / 60000);
      let seconds = ((this.duration % 60000) / 1000).toFixed(0);
      this.elapsedTime =  minutes + ":" + (seconds < 10 ? '0' : '') + seconds; 
    }catch(err){
      this.error = err.message;
    }
  },

  

    lightBulb(){
      this.theme = this.theme === 'theme_white' ? 'theme_black' : 'theme_white' 
    },
   
    async createStat(){
      this.duration = parseInt(await Utilities.getElapsedTime());
      if(this.theme == 'theme_white'){
      this.startTime = new Date();
      }
  
      if(this.theme == 'theme_black'){
        this.endTime = new Date();

            this.duration = this.duration +  (this.endTime.getTime() - this.startTime.getTime());

      }
      
      this.id = await Utilities.getId();
      this.counter++;
      this.active = !this.active;
      this.overall_counter = parseInt(await Utilities.getOverallCounter()) + 1;
      let minutes = Math.floor(this.duration / 60000);
      let seconds = ((this.duration % 60000) / 1000).toFixed(0);
      this.elapsedTime =  minutes + ":" + (seconds < 10 ? '0' : '') + seconds;        
      

      

      await Utilities.updateStat(this.id, this.active, this.overall_counter, this.duration);
      this.stats = await Utilities.getStats();
    }

    
    
  },

}

 

</script>

<style>


.stat-button{
  width: 72px;
  height: 72px;
  position: absolute;
	top: 10em;
	bottom: 0;
	left: 0;
	right: 2.5em;
	margin: auto;
}

.home-links a {
  margin-right: 1rem;
}


.bulb{
  width: 72px;
  height: 72px;
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;

}






</style>
